.ButtonSwitchMenu {
  position: relative;
  display: none;
  width: 30px;
  height: 22px;
  background: none;
  cursor: pointer;
  z-index: 8;
}
.ButtonSwitchMenu span {
  position: absolute;
  left: 0px;
  top: 10px;
  width: 100%;
  height: 2px;
  background: var(--main-text-color);
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.3s ease-out;
}

.ButtonSwitchMenu::before,
.ButtonSwitchMenu::after {
  content: '';
  position: absolute;
  height: 2px;
  left: 0;
  background-color: var(--main-text-color);
  width: 100%;
}

.ButtonSwitchMenu::before {
  top: 0px;
  transition: 0.5s ease-out;
}

.ButtonSwitchMenu::after {
  content: '';
  bottom: 0px;
  transition: 0.1s ease-out;
}

.ButtonSwitchMenu._active span {
  transform: rotate(-90deg);
  top: 5px;
  transition: 0.3s ease-in;
  background-color: var(--link-mobile-color);
}

.ButtonSwitchMenu._active::before {
  content: '';
  transform: rotate(-90deg);
  top: 5px;
  left: -10px;
  background-color: var(--link-mobile-color);
  transition: 0.1s ease-in;
}

.ButtonSwitchMenu._active::after {
  content: '';
  transform: rotate(-90deg);
  top: 5px;
  left: 10px;
  background-color: var(--link-mobile-color);
  transition: 0.5s ease-in;
}
