.ResetButton {
  position: absolute;
  top: 50%;
  right: 70px;
  width: 24px;
  height: 24px;
  opacity: 0.5;
  background: none;
  cursor: pointer;
  transform: translate(0, -50%);
  transition: opacity ease 0.5s;
}

.ResetButton:hover {
  opacity: 1;
}

.ResetButton::before,
.ResetButton::after {
  content: '';
  position: absolute;
  top: 10px;
  left: 0;
  display: block;
  width: 24px;
  height: 3px;
  background: #000;
}

.ResetButton::before {
  transform: rotate(45deg);
}

.ResetButton::after {
  transform: rotate(-45deg);
}
