.PageForm {
  position: relative;
}

.FormBox {
  display: flex;
}

.BoxImage {
  position: relative;
  flex: 1 1 70%;
  padding-bottom: 60%;
}

.Image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (max-width: 760px) {
  .BoxImage {
    display: none;
  }
}
