:root {
  --main-text-color: #000;
  --main-bg-color: #fff;
  --second-bg-color: #fafafa;
  --therd-bg-color: #fafafa;
  --mobile-nav-bg-color: #2b2b2b;
  --link-color: #1b1b1b;
  --link-mobile-color: #ffffff;
  --hover-color: #6c63ff;
  --decor-color: #5066f2;
}
